@page "/"
@using BlazorRpgPersonaCommon.Models

<h1>Blazor RPG Persona</h1>

<UserForm Model="@UserViewModel" GeneratePersonaAsyncFunc="@GeneratePersonaAsync" />

@functions {
    UserViewModel UserViewModel { get; set; } = new UserViewModel();


    async Task GeneratePersonaAsync()
    {

        this.StateHasChanged();
    }
}