@page "/"
@using BlazorRpgPersonaCommon.BusinessLogic

@inject IRpgPersonaGenerator RpgPersonaGenerator
@inject ILogger<Index> Logger

<h1>Blazor RPG Persona</h1>

<UserForm Model="@UserViewModel" GeneratePersonaAsyncFunc="@GeneratePersonaAsync" />
@if (null != RpgPersonaViewModel)
{
    <RpgPersona Model="@RpgPersonaViewModel" />
}


@functions {
    UserViewModel UserViewModel { get; set; } = new UserViewModel();

    RpgPersonaViewModel RpgPersonaViewModel { get; set; }

    async Task GeneratePersonaAsync()
    {
        Logger.LogInformation("Generating Persona.");
        RpgPersonaViewModel = await Task.Run(() => RpgPersonaGenerator.GenerateRpgPersona(UserViewModel));

        this.StateHasChanged();
    }
}