
<div class="form-group col-4 px-2">
    <label for="@For">@Label</label>
    @ChildContent
</div>

@functions {

    [Parameter]
    private string Label { get; set; }

    [Parameter]
    private string For { get; set; }

    [Parameter]
    private RenderFragment ChildContent { get; set; }
}