
<div class="form-group col-xs-12 col-sm-6 col-lg-4 px-2">
    <label for="@For">@Label</label>
    @ChildContent
</div>

@functions {

    [Parameter]
    private string Label { get; set; }

    [Parameter]
    private string For { get; set; }

    [Parameter]
    private RenderFragment ChildContent { get; set; }
}