@page "/"
@using Blazor_RPG_Persona_Common.Models

<h1>Blazor RPG Persona</h1>

<TestComponent />

<UserForm />

@functions {
    UserViewModel UserViewModel { get; set; } = new UserViewModel();


    async Task GeneratePersonaAsync()
    {
        Debug = "Submitted";
    }

    public string Debug { get; set; }
}

<h2>@Debug</h2>