@using BlazorRpgPersonaContainer.Client.BusinessLogic


@inject IFrameApplicationStatusReportReceiver FrameApplicationStatusReportReceiver

<div class="frameStatusLogs">
    <FrameStatusLog FrameApplicationStatusReports="@FrameApplicationStatusReportReceiver.FrameApplicationStatusReports.Where(f => f.FrameName == "Client")" />
    <FrameStatusLog FrameApplicationStatusReports="@FrameApplicationStatusReportReceiver.FrameApplicationStatusReports.Where(f => f.FrameName == "Server")" />
</div>

@functions
{
    protected override async Task OnInitAsync()
    {
        await JSRuntime.Current.InvokeAsync<object>(
            "statusReportSender.init", new DotNetObjectRef(FrameApplicationStatusReportReceiver));
    }
}
