@using TechnologyCharacterGenerator.Foundation.Models;
@using Microsoft.Extensions.Logging
@using TechnologyCharacterGenerator.Parent.Client.BusinessLogic

@inject ILogger<ChildApplication> Logger
@inject IChildApplicationStatusReportReceiver ChildApplicationStatusReportReceiver

<li class="childApplication">
    <ChildApplicationStatusLog ChildApplicationStatusReports="@ChildApplicationStatusReportReceiver.ChildApplicationStatusReports.Where(f => f.ApplicationName == ChildApplicationName)" />
    <iframe class="childApplication @ChildApplicationName" src="about:blank" name="@ChildApplicationName"></iframe>
</li>

@functions
{
[Parameter]
string ChildApplicationName { get; set; }

[Parameter]
string ChildApplicationUrl { get; set; }

protected override async Task OnAfterRenderAsync()
{
    await JSRuntime.Current.InvokeAsync<object>(
        "statusReportSender.send", new ChildApplicationStatusReportModel()
        {
            ApplicationName = ChildApplicationName,
            Status = "Starting Initial Child Application Request."
        });

    await JSRuntime.Current.InvokeAsync<object>(
        "childApplicationStarter.startChildApplication", ChildApplicationName, ChildApplicationUrl);
}
}
