@page "/"
@inject HttpClient HttpClient

<h1>Technology Character Generator</h1>

<UserForm Id="parentUserForm" IsCollapsed="false" bind-Model="@UserViewModel"/>

@*<ChildApplicationControllerForm />*@
@*<ChildApplicationStatusLogs />*@

@if (null != ChildApplications)
{
    foreach (var childApplication in ChildApplications)
    {
        <ChildApplication ChildApplicationName="@childApplication.ApplicationName" ChildApplicationUrl="@childApplication.ApplicationUrl" />
    }
}

@functions
{
    private List<ChildApplicationModel> ChildApplications;

    protected override async Task OnInitAsync()
    {
        ChildApplications = await HttpClient.GetJsonAsync<List<ChildApplicationModel>>("api/child-applications");
    }

    private UserViewModel _userViewModel = new UserViewModel();
    private UserViewModel UserViewModel
    {
        get => _userViewModel;
        set
        {
            //TODO: Update Child Applications' User View Models
            _userViewModel = value;
        }
    }
}
