@page "/"
@using TechnologyCharacterGenerator.Foundation.Models
@addTagHelper *, TechnologyCharacterGenerator.Foundation
@inject HttpClient HttpClient

<h1>Technology Character Generator</h1>

<UserForm />

@*<ChildApplicationControllerForm />*@
@*<ChildApplicationStatusLogs />*@

@if (null != ChildApplications)
{
    foreach (var childApplication in ChildApplications)
    {
        <ChildApplication ChildApplicationName="@childApplication.ApplicationName" ChildApplicationUrl="@childApplication.ApplicationUrl" />
    }
}

@functions
{
private List<ChildApplicationModel> ChildApplications;

protected override async Task OnInitAsync()
{
    ChildApplications = await HttpClient.GetJsonAsync<List<ChildApplicationModel>>("api/child-applications");
}
}
